/*
 * @Author: chenglin 
 * @Date: 2019-06-25 10:41:37 
 * @Last Modified by: chenglin
 * @Last Modified time: 2019-06-25 11:41:12
 */
.cate-selector {
  width: 200px;
  margin-right: 15px;
  display: inline-block;
}