/*
 * @Author: chenglin 
 * @Date: 2019-06-27 10:56:59 
 * @Last Modified by: chenglin
 * @Last Modified time: 2019-06-27 11:10:49
 */
 .btn-send-goods {
   margin-left: 5px;
 }

.p-img {
  display: block;
  width: 80px;
  height: 80px;
}